<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="colour" class="com.demo.DemoSpring.FillColour"></bean>
    <bean id="rshape"
          class="com.demo.DemoSpring.Rectangle">
        <constructor-arg ref="colour"></constructor-arg>
        <property name="height" value="10d"></property>
        <property name="width" value="10d"></property>
    </bean>
    <bean id="shape"
          class="com.demo.DemoSpring.Circle">
        <constructor-arg ref="colour"></constructor-arg>
        <property name="radius" value="10d"></property>
        <!--<property name="width" value="10d"></property>-->
    </bean>


</beans>