<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--<context:property-placeholder location=""/>-->
    <bean id="colour"  class="com.demo.DemoSpring.FillColour"></bean>

    <bean id="rshape"
          class="com.demo.DemoSpring.Rectangle" scope="prototype">
        <constructor-arg ref="colour"></constructor-arg>
        <property name="height" value="10d"></property>
        <property name="width" value="10d"></property>
        <property name="Demo" ref="colour"></property>
    </bean>
    <bean id="cshape"
          class="com.demo.DemoSpring.Circle">
        <constructor-arg ref="colour"></constructor-arg>
        <property name="radius" value="10d"></property>
        <!--<property name="width" value="10d"></property>-->
    </bean>

    <!--____________________________________________________-->


    <bean id="a" scope="singleton" class="com.demo.DemoSpringScope.A"></bean>

    <bean id="b" scope="prototype" class="com.demo.DemoSpringScope.B">
        <property name="j" value="10"></property>
    </bean>
    <bean id="c" scope="prototype" class="com.demo.DemoSpringScope.C">
        <property name="i" value="20"></property>
    </bean>



</beans>